.container2 {
    display: flex;
    gap: 20px;
    max-width: 20vw;
    min-width: 200px;
    flex-direction: column;
    margin: 0px auto;
    margin-bottom: 40px;
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 15px;
}

.text-block {
    text-align: center;
    background-color: #2c3e50;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.button1 {
    background-color: #7b7b85;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    width: 150px;
    margin: auto;
}

.button1:focus{
    background-color: rgb(191, 191, 196);
}

.text-block h2 {
    margin-top: 0;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.text-block p {
    font-size: 1em;
    line-height: 1.6;
}

.text-block:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
    background-color: #52697e;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}